@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap');

:root {
  font-family: 'Be Vietnam Pro', 'Inter', 'Roboto', 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  background: #f8fafc;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}
